doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Istiak Bin Mahmod

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        // <script src="https://cdn.optimizely.com/js/6371880462974976.js"></script>
        // <script src="https://istiakbinmahmod.com/js/6371880462974976.js"></script>

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Istiak Bin Mahmod
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#scores') Test Scores
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Academic Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#research') Research
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Research Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#resume') Resume

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Istiak Bin
                        span.text-primary Mahmod
                    .subheading.mb-5
                        | 8A Chadgaon Abashik · Chittagong, Bangladesh · (880) 1537-256051 ·
                        a(href='mailto:istiakmahmod842@gmail.com') istiakmahmod842@gmail.com
                    p.lead.mb-5
                        | I completed my Bachelor's degree in Computer Science and Engineering from the Department of
                        b Computer Science and Engineering
                        |  at
                        b Bangladesh University of Engineering and Technology (BUET)
                        |  in May 2023. I am now working as a Software Engineer at
                        b
                            a(href='https://www.optimizely.com/') Optimizely
                        | . I am currently looking out for PhD opportunities in the field of Computer Science.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/istiakbinmahmod/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/istiakbinmahmod')
                            i.fab.fa-github
                        a.social-icon(href='mailto:istiakmahmod842@gmail.com')
                            i.fas.fa-envelope

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Bangladesh University of Engineering and Technology
                            .subheading.mb-3 Bachelor of Science
                            div Computer Science and Engineering
                            p GPA: 3.63/4.00
                        .flex-shrink-0
                            span.text-primary March 2018 - May 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Chittagong College
                            .subheading.mb-3 Higher Secondary Certificate
                            div Science
                            p GPA: 5.00/5.00
                        .flex-shrink-0
                            span.text-primary 2015 - 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Chittagong Government High School
                            .subheading.mb-3 Secondary School Certificate
                            div Science
                            p GPA: 5.00/5.00
                        .flex-shrink-0
                            span.text-primary 2015

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer II
                            .subheading.mb-3
                                a(href='https://www.optimizely.com/') Optimizely
                            ul
                                li
                                    | Worked on developing key features for a core product
                                    a(href='https://www.optimizely.com/products/web-experimentation') Web Experimentation
                                li Led features like Winner Rollout while also collaborating with others on features like Visual Editor, Edge Delivery etc.
                                li Fixed critical bugs and latency in systems
                                li Focusing mainly on backend while also having experience in frontend work. Also involved in DevOps work
                                li Collaborated with Engineers, QA, Product across countries (USA, Netherlands, Colombia, Vietnam etc)
                        .flex-shrink-0
                            span.text-primary October 2023 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Assistant Software Engineer
                            .subheading.mb-3
                                a(href='https://site.cnsbd.com/') Computer Network Systems Limited (CNS)
                            ul
                                li Worked as a full-stack developer
                                li Worked on migrating a government project from PHP and JSP to Spring Boot and Typescript.
                        .flex-shrink-0
                            span.text-primary June 2023 - August 2023

            hr.m-0

            // Test Scores
            section#scores.resume-section
                .resume-section-content
                    h2.mb-5 Test Scores
                    ul
                        li
                            strong GRE:
                            |  320 (Quant: 165, Verbal: 155)
                        li
                            strong TOEFL:
                            |  101 (Reading: 26, Listening: 27, Speaking: 23, Writing: 25)

            hr.m-0

            // Academic Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Academic Projects
                    ul
                        li
                            strong Moodle LMS
                            |
                            i (Tools & technologies used: ReactJS, NodeJS, ExpressJS, MongoDB)
                            p
                                | We developed a Moodle LMS (Learning Management System) for our software engineering project. We utilized the MERN stack (MongoDB, Express, React, Node) to develop a web-based LMS platform. This website was inspired by https://moodle.cse.buet.ac.bd. Check out the
                                a(href='https://github.com/ShafaetZamanShuvo/CSE408Project') Github repository
                                | . The demonstration video is available
                                a(href='https://drive.google.com/file/d/1Gptiwe-TZtYJl2HUdfBybDwPtKNaTzQU/view?usp=share_link') here
                                | .
                        li
                            strong Blood Donating Platform
                            |
                            i (Tools & technologies used: Django, Javascript, HTML, CSS)
                            p
                                | We designed and developed a blood donation app as an undergraduate project. The website allows users to sign up as donors, specify their blood type, and provide their contact information. When a blood drive or a hospital requests blood, the app sends notifications to eligible donors in the area, allowing them to quickly and easily respond to the call for donation. Check this project on
                                a(href='https://github.com/Moidda/DropsOfLife') Github
                                | .
                        li
                            strong Retro Shooting Game
                            |
                            i ( Tools & technologies used: C++, ATMega32)
                            p
                                | We built a retro shooting game using C++ and the ATMEGA32 microcontroller. This game features 2D graphics, simple and fast-paced action, and a focus on high scores and player skill. The goal is usually to achieve the highest score possible, either by surviving for as long as possible or by collecting points for defeating enemies. Check this project on
                                a(href='https://github.com/ShafaetZamanShuvo/Shooting-Game') Github
                                | . The Demonstration is available
                                a(href='https://www.youtube.com/watch?v=Z588gnCHA_Q&ab_channel=ShafaetZaman') here
                                | .

            hr.m-0

            // Research
            section#research.resume-section
                .resume-section-content
                    h2.mb-5 Research
                    ul
                        li
                            strong What Kind of Contracts Do LLM APIs Need? - Design By Contract for LLM APIs
                            ul
                                // <li>
                                //     <i><u>Supervisor:</u> Dr. Muhammad Masroor Ali, <u>Collaborator:</u> Soham Khisa</i>
                                // </li>
                                li
                                    | We are developing contract verification frameworks for LLM APIs to prevent common integration bugs. Through analysis of 200+ API contract violation cases, including 40+ LLM-specific instances, I created a comprehensive taxonomy and am building a design-by-contract tool for popular frameworks like OpenAI and LangChain. This work extends prior DLContracts research to provide automated contract checking that detects violations before deployment, improving reliability in LLM-powered applications.
                        br
                        li
                            strong Undergraduate Thesis: Knowledge Graph-Based Categorization of Newspaper Articles in a Newspaper Corpus
                            ul
                                li
                                    i
                                        u Supervisor:
                                        |  Dr. Muhammad Masroor Ali,
                                        u Collaborator:
                                        |  Soham Khisa
                                li
                                    | Our thesis proposed a newspaper categorization system that utilizes ontology to extract metadata from unstructured HTML news articles. We used the IPTC Media Topics taxonomy, which categorizes text using over 1200 terms, to categorize the articles based on ontology concepts

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    // <div class="subheading mb-3">
                    //     Programming Languages & Tools
                    // </div>
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-react
                    ul
                        li
                            strong Languages:
                            |  Python, Java, C, C++, HTML5, CSS, Bash
                        li
                            strong Frameworks/Libraries:
                            |  React.js, Node.js, Django, Spring Boot
                        li
                            strong Databases:
                            |  Google Cloud Datastore, Oracle PL/SQL, MySQL, MongoDB
                        li
                            strong Tools & Platforms:
                            |  Git, Docker, Kubernetes, GCP, Linux

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Research Interests
                    ul
                        li Software Engineering
                        li Natural Language Processing
                        li Distributed Systems

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            strong Dean's List Award
                            |  Outstanding performance during 1
                            sup st
                            |  and 2
                            sup nd
                            |  semester
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            strong General Merit Scholarship
                            |  Outstanding performance in Higher Secondary School Certificate Examination, Bangladesh Government, 2017-2021
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            strong Talentpool Merit Scholarship
                            |  Outstanding performance in Secondary School Certificate Examination, Bangladesh Government, 2016-2017
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            strong Bangladesh Chemistry Olympiad Division
                            |  Achieved 3rd position in the divisional round (Chittagong | Bangladesh)

            // Resume
            section#resume.resume-section
                .resume-section-content
                    h2.mb-5 Resume
                    p
                        | You can download my resume from
                        a(href='assets/CV.pdf', target='_blank', rel='noopener') here
                        | .

            hr.m-0

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
